@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#locations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#locations .location {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #CECECE;
}